# DataTypes

In [1]:
a = 5 #int
b = 2.1 #float
c = True #bool
d = "Dracarys" #string
#or 
d = 'Dracarys'

In [8]:
#datatype conversion

a = 5
a = float(a)
print "datatype of a:",type(a)
a = str(a)
print "datatype of a:",type(a)
a = bool(a)
print "datatype of a:",type(a)

datatype of a: <type 'float'>
datatype of a: <type 'str'>
datatype of a: <type 'bool'>

In [58]:
#operators

a = 3
b = 4
print(a/b)
print(a*b)
print(a+b)
print(a-b)
print(float(a)/b) #accuracy
print(b%a)
print 22/7.0
pi = 22.0/7
print "{0:.3f}".format(pi)
print 2**10

0
12
7
-1
0.75
1
3.14285714286
3.143
1024

In [4]:
#input

x = raw_input() #string

Jon Snow

In [5]:
print x #statement
print(x) #statement

Jon Snow
Jon Snow

In [6]:
x = raw_input("Mother of Dragon: ")

Mother of Dragon: Danerys

In [7]:
print x

Danerys

In [9]:
x = int(raw_input("enter a int: "))

874

In [10]:
print x

874

In [11]:
#or
x = input()

874

In [12]:
print x

874

In [13]:
a,b = 5,4
print a+b
a,b = '5','4'
print a+b

9
54

In [20]:
#some string operations

a = 5
print 'Halo'+a

TypeError: cannot concatenate 'str' and 'int' objects

In [21]:
print 'Halo '+str(a)

Halo 5

In [22]:
s = 'Strings are amongst the most popular datatypes in Python!'

In [23]:
#indexing
s[0]

'S'

In [25]:
s[7]

' '

In [26]:
s[8:11]

'are'

In [27]:
'p' in s

True

In [28]:
'X' not in s

True

In [29]:
print """hello
                           python"""

hello
                           python

In [37]:
if False:
    print("b")
elif True: 
    print("b")
    if '3' in '1234':
        print("yes")
else:
    print("a")

b
yes

# DataStructures

In [38]:
#list

arr = [1,'string',2.45,False]

#indexing

print arr[0]
print arr[1]

print len(arr)

print arr[1:3]

print arr[-1]
print arr[-2]

1
string
4
['string', 2.45]
False
2.45

In [42]:
#slicing
arr = [i for i in range(1,16)]
print arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [43]:
arr[0:12:2]

[1, 3, 5, 7, 9, 11]

In [44]:
arr[12:1:-1]

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [45]:
arr[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [46]:
arr[2:]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [47]:
arr[:3]

[1, 2, 3]

In [48]:
arr[::-1]

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
arr[::-2]

[15, 13, 11, 9, 7, 5, 3, 1]

In [50]:
arr.append('something')

In [51]:
arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'something']

In [52]:
arr.extend(['something','something1'])

In [53]:
arr

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'something',
 'something',
 'something1']

In [54]:
len(arr)

18

In [55]:
arr + [1,4,5]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'something',
 'something',
 'something1',
 1,
 4,
 5]

In [56]:
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [57]:
'* '*5

'* * * * * '

In [59]:
max(arr)

'something1'

In [60]:
min(arr)

1

In [61]:
arr.count('something')

2

In [62]:
arr.remove(2)

In [63]:
arr

[1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'something',
 'something',
 'something1']

In [64]:
arr.remove('something')

In [65]:
arr

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'something', 'something1']

In [68]:
arr.insert(2,'something')

In [70]:
arr

[1,
 3,
 'something',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'something',
 'something1',
 4]

In [71]:
arr.sort() #lexographical order

In [72]:
arr

[1,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'something',
 'something',
 'something1']

In [73]:
#tuples 
tup = (1, 2, 3, 4, 5) #immutable
tup[0]

1

In [76]:
tup2 = tup[1:4]

In [78]:
tup3 = tup+tup2
print tup3

(1, 2, 3, 4, 5, 2, 3, 4)

In [79]:
del tup2

In [80]:
tup2

NameError: name 'tup2' is not defined

In [81]:
tup = list(tup)

In [82]:
tup # and now we can perform all the operation

[1, 2, 3, 4, 5]

In [114]:
#dictionary
#k v
d = {'Name': 'Daenerys', 'languages': ['dothraki','English','High Valaryn'], 'Dragons she possess': 'Two, lol :p'}

In [115]:
d['languages'][2]

'High Valaryn'

In [116]:
#creating a dict:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

my_dict_keys = my_dict.keys()
print my_dict_keys

[1, 'name']

In [117]:
print d.values()

[['dothraki', 'English', 'High Valaryn'], 'Two, lol :p', 'Daenerys']

In [118]:
#updating
d['Name'] = 'Night King'
d['languages'] = ':x'
del d['Dragons she possess']
d['Dragons he possess'] = 'one'

In [119]:
d

{'Dragons he possess': 'one', 'Name': 'Night King', 'languages': ':x'}

In [120]:
d.items()

[('languages', ':x'), ('Name', 'Night King'), ('Dragons he possess', 'one')]

In [126]:
d.update(my_dict)

In [127]:
d

{1: [2, 4, 3],
 'Dragons he possess': 'one',
 'Name': 'Night King',
 'languages': ':x',
 'name': 'John'}

In [128]:
del d['name']
d

{1: [2, 4, 3],
 'Dragons he possess': 'one',
 'Name': 'Night King',
 'languages': ':x'}