In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df["Survived"].mean()

0.3838383838383838

In [5]:
emb = ["S","C","Q"]

In [6]:
temp = {}
for i in emb:
    temp[i] = (df[df["Embarked"]==i])

In [7]:
for i in emb:
    print temp[i]["Survived"].mean()

0.336956521739
0.553571428571
0.38961038961

In [8]:
from sklearn import preprocessing

In [9]:
l = preprocessing.LabelEncoder()
df["Embarked"] = l.fit_transform(df["Embarked"])

/home/greatskull/anaconda2/lib/python2.7/site-packages/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,3

In [11]:
df["Sex"] = l.fit_transform(df["Sex"])

In [12]:
df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [13]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         3
1         1       1    0  38.0      1      0  71.2833         1
2         1       3    0  26.0      0      0   7.9250         3
3         1       1    0  35.0      1      0  53.1000         3
4         0       3    1  35.0      0      0   8.0500         3

In [14]:
df.shape

(891, 8)

In [15]:
df = df.dropna()

In [16]:
df.shape

(714, 8)

In [17]:
ndf = (df - df.mean())/df.std()

In [18]:
ndf.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,-0.826441,0.910594,0.758520,-0.530005,0.524203,-0.505541,-0.518614,0.521246
1,1.208313,-1.475329,-1.316511,0.571430,0.524203,-0.505541,0.691412,-2.010520
2,1.208313,0.910594,-1.316511,-0.254646,-0.551317,-0.505541,-0.505859,0.521246
3,1.208313,-1.475329,-1.316511,0.364911,0.524203,-0.505541,0.347805,0.521246
4,-0.826441,0.910594,0.758520,0.364911,-0.551317,-0.505541,-0.503497,0.521246

In [20]:
from sklearn import linear_model,svm,tree,cross_validation

/home/greatskull/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [29]:
def split(df):
    y = df["Survived"]
    x = df.drop(["Survived"],axis=1)
    x_train,x_test,y_train,y_test = cross_validation.train_test_split(x,y,test_size=0.3)
    return x_train,x_test,y_train,y_test

In [30]:
x_train_df,x_test_df,y_train_df,y_test_df = split(df)

In [33]:
y_train_df.head()

397    0
788    1
315    1
251    0
549    1
Name: Survived, dtype: int64

In [36]:
model = linear_model.LogisticRegression()

In [37]:
model = model.fit(x_train_df,y_train_df)

In [39]:
model.score(x_test_df,y_test_df)

0.81395348837209303

In [40]:
model.score(x_train_df,y_train_df)

0.81162324649298601