In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Advertising.csv')

In [3]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df['newspaper'].autocorr()

0.056251887481101472

In [5]:
x = range(1,5)
x.extend(range(1,5))

In [6]:
x = pd.DataFrame(x)

In [7]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [8]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
df.skew()

TV          -0.069853
radio        0.094175
newspaper    0.894720
sales        0.407571
dtype: float64

In [10]:
df['sales'] = np.log(df['sales'])

In [11]:
df.head()

      TV  radio  newspaper     sales
0  230.1   37.8       69.2  3.095578
1   44.5   39.3       45.1  2.341806
2   17.2   45.9       69.3  2.230014
3  151.5   41.3       58.5  2.917771
4  180.8   10.8       58.4  2.557227

In [12]:
df.skew()

TV          -0.069853
radio        0.094175
newspaper    0.894720
sales       -0.956020
dtype: float64

In [13]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.784601
radio      0.054809  1.000000   0.354104  0.471151
newspaper  0.056648  0.354104   1.000000  0.211443
sales      0.784601  0.471151   0.211443  1.000000

In [14]:
df = df[df.apply(lambda x: np.abs(x - x.mean()) / x.std() < 4).all(axis=1)]

In [15]:
df.shape

(199, 4)

In [16]:
df = (df-df.mean())/df.std()

In [17]:
df.head()

         TV     radio  newspaper     sales
0  0.963542  0.985134   1.769504  1.344053
1 -1.208820  1.086221   0.662880 -0.600254
2 -1.528354  1.531005   1.774095 -0.888613
3  0.043566  1.221004   1.278181  0.885411
4  0.386509 -0.834435   1.273589 -0.044588

In [18]:
from sklearn.linear_model import LinearRegression as lr
from sklearn.linear_model import Ridge as ridge
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error as loss

/home/greatskull/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
def LR(x,y):
    test_accuracy = 0
    train_accuracy = 0
    test_loss = 0
    train_loss = 0

    for i in range(100):
        x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
        LR = lr()
        LR.fit(x_train,y_train)
        test_accuracy = test_accuracy + LR.score(x_test,y_test)
        train_accuracy = train_accuracy + LR.score(x_train,y_train)
        test_prediction = LR.predict(x_test)
        train_prediction = LR.predict(x_train)
        test_loss = test_loss + loss(y_test,test_prediction)
        train_loss = train_loss + loss(y_train,train_prediction)

    test_accuracy = test_accuracy/100.0
    train_accuracy = train_accuracy/100.0
    test_loss = test_loss/100.0
    train_loss = train_loss/100.0
    print 'test_accuracy:',test_accuracy
    print 'train_accuracy',train_accuracy
    print 'test_loss:',test_loss
    print 'train_loss:',train_loss

In [20]:
y = df['sales']
x = df.drop(['sales'],axis=1)

In [21]:
x.head()

         TV     radio  newspaper
0  0.963542  0.985134   1.769504
1 -1.208820  1.086221   0.662880
2 -1.528354  1.531005   1.774095
3  0.043566  1.221004   1.278181
4  0.386509 -0.834435   1.273589

In [22]:
LR(x,y)

test_accuracy: 0.865823585437
train_accuracy 0.878416817501
test_loss: 0.133134158794
train_loss: 0.121004626152

In [23]:
from sklearn.model_selection import cross_val_score

In [24]:
model = lr()
scores = cross_val_score(model,x,y,cv=10)

In [25]:
scores

array([ 0.86431182,  0.84264514,  0.89642422,  0.84130151,  0.87426508,
        0.93880593,  0.82830382,  0.76766776,  0.84533603,  0.95329975])

In [26]:
scores.mean()

0.86523610692729458

In [27]:
for i in x.columns:
    x[i+'_sq'] = x[i]**2

In [28]:
x.head()

         TV     radio  newspaper     TV_sq  radio_sq  newspaper_sq
0  0.963542  0.985134   1.769504  0.928414  0.970489      3.131143
1 -1.208820  1.086221   0.662880  1.461246  1.179877      0.439410
2 -1.528354  1.531005   1.774095  2.335866  2.343976      3.147415
3  0.043566  1.221004   1.278181  0.001898  1.490851      1.633747
4  0.386509 -0.834435   1.273589  0.149389  0.696281      1.622030

In [29]:
LR(x,y)

test_accuracy: 0.936401067424
train_accuracy 0.94409345888
test_loss: 0.0642645666631
train_loss: 0.0552254125061

In [30]:
def l2(x,y):
    test_accuracy = 0
    train_accuracy = 0
    test_loss = 0
    train_loss = 0

    for i in range(100):
        x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
        LR = ridge(alpha=10)
        LR.fit(x_train,y_train)
        test_accuracy = test_accuracy + LR.score(x_test,y_test)
        train_accuracy = train_accuracy + LR.score(x_train,y_train)
        test_prediction = LR.predict(x_test)
        train_prediction = LR.predict(x_train)
        test_loss = test_loss + loss(y_test,test_prediction)
        train_loss = train_loss + loss(y_train,train_prediction)

    test_accuracy = test_accuracy/100.0
    train_accuracy = train_accuracy/100.0
    test_loss = test_loss/100.0
    train_loss = train_loss/100.0
    print 'test_accuracy:',test_accuracy
    print 'train_accuracy',train_accuracy
    print 'test_loss:',test_loss
    print 'train_loss:',train_loss

##

In [31]:
l2(x,y)

test_accuracy: 0.930998833125
train_accuracy 0.940166939606
test_loss: 0.0695475163175
train_loss: 0.0592622306807

In [32]:
xx = df.drop(['sales'],axis=1)

In [34]:
l2(xx,y)

test_accuracy: 0.865354983141
train_accuracy 0.873148373557
test_loss: 0.13270962431
train_loss: 0.126660061309